*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 40px;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-inline: auto;
}

.heart-icon {
  width: 24px;
  height: 24px;
}
